extends layout

block cssDash
  link(rel='stylesheet', href='../../stylesheets/dashboard.css')

block content
    .container-contact100
        .wrap-contact200
            span.contact100-form-title
                | Dashboard
            table.table
                thead
                    tr
                        th StringQR
                        th User
                        th Correo
                        th Status
                tbody
                    each usr in users
                        tr
                            td= usr.codigoQR
                            td= usr.nombre
                            td= usr.correo
                            td= usr.estatus
            .container-contact100-form-btn
                .wrap-contact100-form-btn
                    .contact100-form-bgbtn
                    button.contact100-form-btn
                        span
                            a(href='/') Home
                            i.fa.fa-long-arrow-right.m-l-7(aria-hidden='true')