extends layout

block content
    h2 Hola 
    h3 Aqui esta tu boleto: 
    h3 = qrtorender

    #qrcode
    script.
        new QRCode(document.getElementById("qrcode"), qrtorender);
        console.log(qrtorender)
        